
<div class="advisors">
    <h2>Academic Advisors</h2>
        I have been fortunate to work with great researchers at and outside Microsoft
        <ul>          
            <li> <a href="https://www.microsoft.com/en-us/research/people/monojitc/">Monojit Choudhury</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/susitara/">Sunayana Sitaram</a> </li>            
            <li> <a href="https://adityasomak.github.io/">Somak Aditya</a> </li>    
            <li> <a href="https://www.ssrc.org/fellows/a0c8f20b-2d11-e611-940d-005056ab4b80/">Quincy Amoah</a></li> 
            <li> <a href="https://personal.ntu.edu.sg/aseschng">Chng Eng Siong</a></li>     
        </ul>
</div>