
<div class="advisors">
    <h2>Academic Advisors</h2>
        I have been fortunate to work many great researchers at and outside Microsoft
        <ul>          
            <li> <a href="https://www.microsoft.com/en-us/research/people/monojitc/">Monojit Choudhury</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/susitara/">Sunayana Sitaram</a> </li>            
            <li> <a href="https://adityasomak.github.io/">Somak Aditya</a> </li>          
        </ul>
</div>